<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>About the App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Mission</ion-card-header>
    <ion-card-content>
        <p>
          To help locals boost their sales and used the app as the tools for the key of there success. 
          We also want to give helping hands to all tourist and filipinos to conviently reserve and book online.
          For hassle free and fast way to visit our placed.
        </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>Vision</ion-card-header>
      <ion-card-content>
          <p>
            One day we will be one of the leading booking app among all tourist of Negros Oriental. And guide people to explore the beauty of pure nature.
            We also want to boost the tourist of Negros oriental.
          </p>
      </ion-card-content>
    </ion-card>
</ion-content>
