<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="at"></ion-icon>
        </ion-button>
        <ion-label>moravel752@gmail.com</ion-label>
    </ion-item>
    <ion-item>
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
        <ion-label>+63-9650918852</ion-label>
    </ion-item>
</ion-content>
