<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-icon name="log-in" class="LogoutIcon"></ion-icon>
      </ion-buttons>
    <ion-title>
      Manjuyod Sandbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-img src="assets/images/1.jpg"></ion-img>
        <ion-card-content>
          Manjuyod Sandbar often called as Maldives of the Phillippines located at the center boundary of Manjuyod and Bais City. Disover the beauty of its nature and enjoy the sunsets.
          <ion-icon name="pin" slot="start" color="danger" class="locationMap"></ion-icon>
        </ion-card-content>
       
      </ion-card>
      
      <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Select Date</ion-label>
                <ion-datetime displayFormat="MMMM/DD/YYYY" ></ion-datetime>
              </ion-item>
              <ion-item>
                  <ion-label>Select Time</ion-label>
                  <ion-datetime displayFormat="h:mm a"></ion-datetime>
              </ion-item>
              <ion-button expand="block" class="submitBtn">Submit</ion-button>
        </ion-card-content>
      </ion-card>
      
</ion-content>


